form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 50px 0;
}
.infoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.checkboxContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  header{
    margin-bottom: 36px;
    margin-top: 10px;
  }
  button{
    width: 250px;
    height: 42px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    background: #CBF7ED;
    transition: filter 0.2s;
    margin-top: 16px;
    &:hover{
      filter: brightness(0.9)
    }
  }
}
.inputContainer{
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  width: 50%;
  margin-bottom: 10px;
  input{
    margin: 0 16px;
  }
  p{
    font-weight: 700;
    border-left: 1px solid black;
    padding-left: 5px;
  }
}

@media(max-width: 1020px){
  form{
    grid-template-columns:1fr;
 }
 .checkboxContainer{
   align-items: center;
 }
 }
