.homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height:100vh;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    button{
      font-weight: 700;
      width: 300px;
      height: 48px;
      border-radius: 8px;
      border:none;
      margin-top: 26px;
      background: #CBF7ED;
      transition: filter 0.2s;
      &:hover{
        filter: brightness(0.9);
      }
    }
  }
}

.header{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  img {
    width: 64px;
    margin-right: 10px;
  }

}
